/* line 4, ../sass/freq.scss */
#bg-top, #bg-bottom {
  position: fixed;
  width: 100%;
  height: 50%;
  z-index: -1;
}

/* line 11, ../sass/freq.scss */
#bg-bottom {
  top: 50%;
}
/* line 14, ../sass/freq.scss */
#bg-bottom.no-trip {
  background-color: #3f3f3e;
}
/* line 18, ../sass/freq.scss */
#bg-bottom.trip {
  background-color: #3f3f3e;
}

/* line 25, ../sass/freq.scss */
#bg-top.trip {
  background-color: #3f3f3e;
}
/* line 29, ../sass/freq.scss */
#bg-top.no-trip {
  background-color: #3f3f3e;
}

/* line 36, ../sass/freq.scss */
h2 {
  font-size: 1.5em;
}

/* line 40, ../sass/freq.scss */
h1 {
  width: 100%;
  text-align: center;
  font-size: 3vh;
  padding-top: 5%;
}

/* line 48, ../sass/freq.scss */
p {
  line-height: 1em;
}

/* line 52, ../sass/freq.scss */
body {
  background-color: #3f3f3e;
  color: white;
  font-family: "lato", arial, sans-serif;
  font-size: 1.5vh;
  position: relative;
  overflow: hidden;
}

/* line 62, ../sass/freq.scss */
#generator, #living-grid {
  text-align: center;
  clear: both;
}

/* line 67, ../sass/freq.scss */
#chart {
  width: 70%;
  height: 25%;
  -moz-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  border-radius: 5vh;
  background-color: #fad93c;
  float: left;
}

/* line 75, ../sass/freq.scss */
#generator img, #living-grid img {
  width: 250px;
  height: auto;
  margin-top: 5vh;
  display: inline-block;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 86, ../sass/freq.scss */
#captions {
  width: 15%;
  height: 25%;
  float: left;
  position: relative;
}

/* line 93, ../sass/freq.scss */
#captions span {
  width: 99%;
  text-align: right;
  padding-right: 1%;
  float: left;
  font-size: 1.5em;
}

/* line 101, ../sass/freq.scss */
#gen {
  position: absolute;
  top: 1vh;
}

/* line 106, ../sass/freq.scss */
#fre {
  position: absolute;
  top: 50%;
}

/* line 111, ../sass/freq.scss */
#dem {
  position: absolute;
  bottom: 1vh;
}

/* line 116, ../sass/freq.scss */
.red {
  color: #fbe36e;
}

/* line 120, ../sass/freq.scss */
.danger {
  color: #d85135;
}

/* line 124, ../sass/freq.scss */
.oe-logo-bottom {
  width: 250px;
  height: auto;
  margin-top: 5vh;
}

/* line 130, ../sass/freq.scss */
#chart-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 16.5%;
}

/* line 137, ../sass/freq.scss */
#logos {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 143, ../sass/freq.scss */
.rowcell-half {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
}

/* line 150, ../sass/freq.scss */
.logo {
  width: 15vh;
}
