/*
Breakpoint mixin
----------------
Shamelessly nabbed from http://responsivedesign.is/develop/getting-started-with-sass.
*/
/* line 5, ../sass/load.scss */
.outer-arc {
  fill: #fad93c;
}

/* line 9, ../sass/load.scss */
.inner-arc {
  fill: white;
}

/* line 13, ../sass/load.scss */
html, body {
  height: 100%;
}

/* line 17, ../sass/load.scss */
body {
  font-family: arial, sans-serif;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 37.5em) {
  /* line 17, ../sass/load.scss */
  body {
    overflow-y: hidden;
  }
}

/* line 26, ../sass/load.scss */
p {
  line-height: 2em;
}

/* line 30, ../sass/load.scss */
h2 {
  position: relative;
  width: 68%;
  left: 16%;
  padding-bottom: 5%;
}

/* line 37, ../sass/load.scss */
#wrapper {
  width: 100%;
  /*height: 100%;*/
  text-align: center;
  position: absolute;
  top: 15%;
  left: 0;
}

/* line 46, ../sass/load.scss */
#button-wrapper {
  width: 100%;
  /*height: 50%;*/
}

/* line 51, ../sass/load.scss */
#button {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 80px;
  height: 80px;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

/* line 59, ../sass/load.scss */
#button.btn-before {
  background-color: #595957;
  color: white;
}

/* line 64, ../sass/load.scss */
#button.btn-after {
  background-color: #595957;
  color: #f9cf0a;
}

/* line 69, ../sass/load.scss */
#button p {
  position: relative;
  top: 2%;
  font-size: 1.2em;
  text-align: center;
}

/* line 76, ../sass/load.scss */
#button img {
  margin-top: 3%;
  height: 50%;
}

/* line 81, ../sass/load.scss */
.red {
  color: #3f3f3e;
}
/* line 84, ../sass/load.scss */
.red strong {
  color: #fad93c;
}

/* line 89, ../sass/load.scss */
#circle-container {
  height: 73%;
  position: relative;
}

/* line 94, ../sass/load.scss */
#logo {
  text-align: center;
}

/* line 98, ../sass/load.scss */
#caption-legend {
  padding-bottom: 3%;
  color: #3f3f3e;
}

/* line 104, ../sass/load.scss */
h2 {
  font-size: 1.5em;
}

/* line 108, ../sass/load.scss */
p {
  line-height: 1em;
}

/* line 112, ../sass/load.scss */
body {
  background-color: #3f3f3e;
  color: white;
  font-family: arial, sans-serif;
  font-size: 13px;
}

/* line 120, ../sass/load.scss */
#logos {
  width: 100%;
}
@media (max-width: 37.5em) {
  /* line 120, ../sass/load.scss */
  #logos {
    position: absolute;
    bottom: 0;
  }
}
@media (max-height: 450px) {
  /* line 120, ../sass/load.scss */
  #logos {
    display: none;
  }
}

/* line 134, ../sass/load.scss */
.rowcell-half {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
}

/* line 141, ../sass/load.scss */
.logo {
  width: 15vh;
}

/* line 145, ../sass/load.scss */
#menu-buttons {
  position: fixed;
  bottom: 5vw;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 100%;
}

/* line 153, ../sass/load.scss */
#menu-buttons span {
  color: white;
  padding: 15px 5vw 15px 5vw;
  -moz-border-radius: 4vw;
  -webkit-border-radius: 4vw;
  border-radius: 4vw;
  cursor: pointer;
  position: relative;
  bottom: 3vh;
}
@media (max-width: 37.5em) {
  /* line 153, ../sass/load.scss */
  #menu-buttons span {
    padding: 5vw;
  }
}

/* line 165, ../sass/load.scss */
#menu-buttons a {
  color: white;
  text-decoration: none;
}

/* line 170, ../sass/load.scss */
#menu-tweet {
  background-color: #fad93c;
  color: #3f3f3e;
}

/* line 175, ../sass/load.scss */
#menu-restart {
  background-color: #fad93c;
}

.no-interaction {
  pointer-events: none;
}