$turquoise: rgb(37, 171, 160);
$green: rgb(145, 192, 45);
$red: rgb(216, 81, 53);
$grey: rgb(87, 87, 86);
$white: rgb(255, 255, 255);
$orange: rgb(240, 158, 27);
$yellow: rgb(250,217,60);
$dark-grey: rgb(63,63,62);