@import "_colors.scss";
@import "compass";

#bg-top, #bg-bottom {
	position: fixed;
	width: 100%;
	height: 50%;
	z-index: -1;
}

#bg-bottom {
	top: 50%;

	&.no-trip {
		background-color: $dark-grey;
		//@include background-image(linear-gradient(to right, lighten(#1c5cff,5%), lighten(#34a8a7, 5%) 81%));
	}
	&.trip {
		background-color: $dark-grey;
		//@include background-image(linear-gradient(to right, #1c5cff, #34a8a7 81%));
	}
}

#bg-top {
	&.trip {
		//@include background-image(linear-gradient(to right, lighten(#1c5cff,5%), lighten(#34a8a7, 5%) 81%));
		background-color: $dark-grey;
	}
	&.no-trip {
	   background-color: $dark-grey;
		//@include background-image(linear-gradient(to right, #1c5cff, #34a8a7 81%));
	}
}


h2 {
	font-size: 1.5em;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 3vh;
	padding-top: 5%;
	//color: lighten($green, 30%);
}

p {
	line-height: 1em;
}

body {
	background-color: $dark-grey; //fallback
	//@include background-image(linear-gradient(to right, #1c5cff, #34a8a7 81%));
	color: white;
	font-family: "lato", arial, sans-serif;
	font-size: 1.5vh;
	position: relative;
	overflow: hidden;
}

#generator, #living-grid {
	text-align: center;
	clear: both;
}

#chart {
	width: 70%;
	height: 25%;
	@include border-radius(5vh);
	background-color: $yellow;
	float: left;
}

#generator img, #living-grid img {
	//width: auto;
	//height: 21%;
		width: 250px;
	height: auto;
	margin-top: 5vh;
	display:inline-block;
	@include transition-property(opacity);
	@include transition-duration(2s);
}

#captions {
	width: 15%;
	height: 25%;
	float: left;
	position: relative;
}

#captions span {
	width: 99%;
	text-align: right;
	padding-right: 1%;
	float: left;
	font-size: 1.5em;
}

#gen {
	position: absolute;
	top: 1vh;
}

#fre {
	position: absolute;
	top: 50%;
}

#dem {
	position: absolute;
	bottom: 1vh;
}

.red {
	color: lighten($yellow, 10%);
}

.danger {
	color: $red;
}

.oe-logo-bottom {
	width: 250px;
	height: auto;
	margin-top: 5vh;
}

#chart-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 16.5%;
}

#logos {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.rowcell-half {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
}

.logo {
	width: 15vh;
}