@import "compass";
@import "_colors.scss";
@import "_responsive.scss";

.outer-arc {
	fill: $yellow;
}

.inner-arc {
	fill: $white;
}

html, body {
	height: 100%;
}

body {
	font-family: arial, sans-serif;
	position: relative;
	overflow-x: hidden;
	@include breakpoint(mobileonly){
		overflow-y: hidden;
	}	
}

p {
	line-height: 2em;
}

h2 {
	position: relative;
	width: 68%;
	left: 16%;
	padding-bottom: 5%;
}

#wrapper {
	width: 100%;
	/*height: 100%;*/
	text-align: center;
	position: absolute;
	top: 15%;
	left: 0;
}

#button-wrapper {
	width: 100%;
	/*height: 50%;*/
}

#button {
	@include border-radius(15px);
	width: 80px;
	height: 80px;
	margin: 0 auto 0 auto;
	cursor: pointer;
}

#button.btn-before {
	background-color: lighten($dark-grey, 10%);
	color: white;
}

#button.btn-after {
	background-color: lighten($dark-grey, 10%);
	color: darken($yellow, 10%);
}

#button p {
	position: relative;
	top: 2%;
	font-size: 1.2em;
	text-align: center;
}

#button img {
	margin-top: 3%;
	height: 50%;
}

.red {
	color: $dark-grey;
	
	strong {
		color: $yellow;
	}
}

#circle-container {
	height: 73%;
	position: relative;
}

#logo {
	text-align: center;
}

#caption-legend {
	padding-bottom: 3%;
	color: $dark-grey;
}


h2 {
	font-size: 1.5em;
}

p {
	line-height: 1em;
}

body {
	//@include background-image(linear-gradient(to right, #1c5cff, #34a8a7));
	background-color: $dark-grey;
	color: white;
	font-family: arial, sans-serif;
	font-size: 13px;
}

#logos {

	@include breakpoint(mobileonly){
		position: absolute;
		bottom: 0;
	}

	@include breakpoint(smallmobile){
		display: none;
	}
	
	width: 100%;
}

.rowcell-half {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
}

.logo {
	width: 15vh;
}

#menu-buttons {
	position: fixed;
	bottom: 5vw;
	@include transition-property(opacity);
	@include transition-duration(0.5s);
	width: 100%;
}

#menu-buttons span {
	color: white;
	padding: 15px 5vw 15px 5vw;
	@include breakpoint(mobileonly) {
		padding: 5vw;
	}
	@include border-radius(4vw);
	cursor: pointer;
	position: relative;
	bottom: 3vh;
}

#menu-buttons a {
	color: white;
	text-decoration: none;
}

#menu-tweet {
	background-color: $yellow;
	color: $dark-grey;
}

#menu-restart {
	background-color: $yellow;
}